* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --bg-color: #0f0c29 !important;
    --second-bg-color: #302b63 !important;
    --text-color: #fff;
    --main-color: #6e64e4;
}

html {
    overflow-x: hidden;
    font-size: 65%;
}

body::-webkit-scrollbar{
    width: 1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    scrollbar-width: thin;
    /* scrollbar-color: var(--bg-color) var(--second-bg-color); */
}

body::-webkit-scrollbar-track{
    background: inherit;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: .1rem solid rgba(0,0,0.2);
}

.logo {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.5em;
    margin-left: 4rem;
    color: var(--text-color);
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#night{
    font-size: 3.5rem;
    color: var(--text-color);
    display: none;
}

#lg-night{
    font-size: 3.5rem;
    color: var(--text-color);
    margin-left: 4rem;
}


#menu-icon {
    font-size: 3.5rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center
}

.home-content h3 {
    font-size: 3.5rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.img img {
    width: 35vw;
    filter: drop-shadow(0 1.25rem 5rem var(--main-color));
    animation: float 4.25s linear infinite;
}

.home-content p {
    font-size: 1.5rem;
}

.icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--text-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.icons a:hover {
    color: var(--second-bg-color);
    background-color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
    border: 1px solid var(--main-color);
}

.btn:hover {
    box-shadow: none;
    border: 1px solid var(--main-color);
    background-color: transparent;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-images {
    width: 35vw;
    filter: drop-shadow(0 1.25rem 5rem var(--main-color));
    animation: float 4.25s linear infinite;
}

@keyframes float{
    0%{
        transform: translateY(1rem);
    }
    50%{
        transform: translateX(-1rem);
    }
    75%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateY(1rem);
    }
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.aboutcontent h2 {
    text-align: left;
    line-height: 1.2;
}

.aboutcontent h3 {
    font-size: 2.5rem;
}

.aboutcontent p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.service h2{
    margin-bottom: 5rem;
    text-align: center;
}

.service-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-contain .service-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    margin: 1rem 1rem 1rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .2s ease;
}

.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.service-box h3{
    font-size: 2.7rem;
}

.service-box p{
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
    font-weight: lighter;
}

.service-contain .service-box:hover{
    border-color: var(--main-color);
}

.portfolio{
    background: var(--second-bg-color);
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-part .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box .portfolio-layout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1),var(--bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-layout h4{
    font-size: 2.5rem;

}

.portfolio-layout p{
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
}

.portfolio-layout a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layout a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.portfolio-box img:hover{
    transform: scale(1.2);
}

.portfolio-box:hover .portfolio-layout{
    transform: translateY(0);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

/* input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
} */

.contact form .input-boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.contact form .input-boxes input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem auto;
}

.contact form .input-boxes input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.feedback {
    width: 100%;
    display: flex;
    gap: 1.75rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}   

.feed {
    flex: 1 1 30rem;
    width: 50%;
    background: linear-gradient(145deg, var(--second-bg-color), var(--main-color));
    border-radius: 0.75rem;
    padding: 1.25rem 1rem;
    box-shadow:  0.25rem 0.25rem 0.55rem var(--second-bg-color),
             -0.25rem -0.25rem 0.55rem var(--main-color);
}

.feed h4{
    font-size: 2.5rem;
}

.feed p{
    font-size: 1.5rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-style p{
    font-size: 1.5rem;

}

.footer-icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icon a i{
    font-size: 2.5rem;
    color: var(--second-bg-color);
}

.footer-icon a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}


@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .footer{
        padding: 2rem 2%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    #night{
        display: block;
    }

    #lg-night{
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 0 0 rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;

    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        display: flex;
        flex-direction: column-reverse;
    }

    .about-images img{
        width: 100%;
    }

    .portfolio-part{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2.5rem;
    }    
}
